div {
    width: 700px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: end;

}


.filho {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    margin: 2px;
}